body {
  font-family: 'Lato', sans-serif;
  transition: background-color 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#small {
  width: 40px;
  height: 40px;
}

/* --------------------   Logo   ----------- */
.logo img {
  margin: 0 auto;
  width: 100px;
  position: fixed;
  left: 46%;
  top: 15px;
  display: inline-block;
}

/* Navigation  */
#menu-outer {
  background: url(img/navbg.jpg) repeat-x;
  display: inline-flexbox;
  position: fixed;
}
.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}
ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}

.left-nav {
  float: left;
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  display: inline;
}

/* ----------      Dropdown TEST button ------------------ */
.dropbtn {
  background-color: aquamarine;
  color: black;
  padding: 5px 20px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  position: relative;
  left: 115%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #64088fab;
  color: wheat;
}

/* ------- video styling ----------
#videos {
  background-image: url(./img/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
} */
